.player-info {
    margin-bottom: 8px;
}

.player-name {
    font-family: 'BentonSansCondensed Bold';
    color: #006437;
    font-size: 16px;
    letter-spacing: 0.51px;
}

.player-details {
    font-size: 13px;
}