.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scale-in {
    animation: scale-in 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

@keyframes scale-in {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}