.image {
    background-color: #006437CC;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;

    &-modal__desk {
        @media(min-width: 1500px) {
            background-color: #006437CC;
            border-radius: 50%;
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }
    }
}