.header {
    display: flex;
    align-items: end;
    background-image: url('../../assets/img-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 244px;
    padding: 0px 20px 11px;
    margin-bottom: 19px;

    @media(min-width: 1500px) {
        height: 842px;
        padding: 0px 120px 115px;
    }

    &-title__container {
        margin-bottom: 10px;

        @media(min-width: 1500px) {
            margin-bottom: 20px;
        }
    }

    &-title {
        color: white;
        text-transform: uppercase;
        background-color: #006437;
        letter-spacing: 0.75px;
        font-size: 30px;
        font-weight: bold;
        width: fit-content;
        padding: 6px 17px;

        @media(min-width: 1500px) {
            font-size: 60px;
        }
    }

    &-subtitle {
        color: white;
        width: 270px;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 0.38px;

        @media(min-width: 1500px) {
            font-size: 20px;
            color: #B4DDC1;
            width: 359px;
            letter-spacing: 0.5px;
            margin-bottom: 15px;
        }
    }

    &-introduction {
        display: none;

        @media(min-width: 1500px) {
            display: block;
        }
    }
}