.graphic {
    &-content {
        display: flex;
        align-items: center;
    }

    &-title {
        width: 32px;
        margin-right: 6.5px;
        font-size: 13px;
    }

    &-base {
        height: 21px;
        border-left: 1px solid #006437;
    }

    &-bar {
        transition: width 1s ease-in-out;
        height: 15px;
        margin-right: 4px;
    }

    &-bar__games {
        background-color: #B4DDC1;
    }

    &-bar__goals {
        height: 15px;
        background-color: #72BF44;
        margin-right: 4px;
    }

    &-number {
        font-family: 'BentonSansCondensed Bold';
    }
}